/*=====================
  Базовая типография
=====================*/

// @font-face {
//   font-family: 'Gotham';
//   src:  url('../font/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
//         url('../font/GothamPro-Medium.otf') format('opentype'),
//         url('../font/GothamPro-Medium.woff') format('woff'),
//         url('../font/GothamPro-Medium.ttf') format('truetype'),
//         url('../font/GothamPro-Medium.svg#font/GothamPro-Medium') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

@base-font: Arial, sans-serif;

@font-face {
font-family: "exo"; 
src: url("../css/fonts/Exo20.otf") format("opentype"); 
} 


body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: normal;
}

h1{

}

h2{

}

h3{

}

h4{

}

p,
li,
span{

}

strong,
b{
  font-weight: 600;
}

a{

  &:hover{

  }
}

ul{
    li{

    }
}

table{
  td{

  }
}
.bigtitle
{	
	font-family: "exo";
	font-size: 24px;
	color: @text-white;	
	text-align: center;
}

